
/* The sidepanel menu */
.sidepanel {
  text-align: center;
  height: 790px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: static; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  opacity: 0.5;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  float: left;
}

.sidepanel:hover {
  opacity: 0.95;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fbeee7;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #fbeee7;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  width: 850px;
  cursor: pointer;
  background-color: #000;
  color: #fbeee7;
  font-family: 'Work Sans';
  font-size: 32px;
  font-weight: 200;
  padding: 22px 15px;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 80px;
  border: none;
  transition: 1.5s;
}

/* .leftpanel {
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 80px;
}

.rightpanel {
  transform: rotate(90deg);
  transform-origin: top right;
  margin-right: 80px;
} */

.openbtn:hover {
  background-color: #fbeee7;
  color: #000;
}
