html, body {
  margin: 0 auto;
  padding: 0;
  scroll-behaviour: smooth;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .socials {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header nav .socials img {
  padding-right: 1rem;
}

header nav .socials img.twitter_resize {
  padding-left: 1rem;
  height: 2rem;
  width: 2rem;
}

header nav .socials img.linkedin_resize {
  height: 2rem;
  width: 2rem;
}

header nav .socials img.tumblr_resize {
  height: 2rem;
  width: 2rem;
}

header nav .socials img.github_resize {
  height: 2rem;
  width: 2rem;
}

header nav .topnav {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 0.8rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  color: #fbeee4;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

header nav .topnav a {
  margin-right: 0.5rem;
}

header nav .topnav a:link, header nav .topnav a:hover, header nav .topnav a:visited, header nav .topnav a:active {
  color: #fbeee4;
  text-decoration: none;
}

.loadpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #000;
  padding-top: 1rem;
  height: 50.75rem;
}

.loadpage .loadpage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fbeee4;
}

.loadpage .loadpage-container h1 {
  margin: 0 auto;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  letter-spacing: 1rem;
  font-weight: 300;
  font-size: 3rem;
  line-height: 150%;
}

.loadpage .loadpage-container .kaomoji {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.65rem;
  margin: 3rem 0;
}

.loadpage .loadpage-container .kaomoji .kaomoji1 {
  color: #f4d0fd;
  text-shadow: 0px 0px 15px #ed73e1, 0px 0px 15px #ed73e1;
  border-radius: 50%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.loadpage .loadpage-container .kaomoji .kaomoji2 {
  color: #c7fcfd;
  text-shadow: 0px 0px 15px #35d0f0, 0px 0px 15px #35d0f0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.loadpage .loadpage-container .btn-main {
  background-color: #000;
  min-width: 66.66%;
  padding: 1rem 0;
  margin: 0.5rem auto;
  opacity: 1;
  color: #fbeee4;
  border: 1px solid #fbeee4;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.95;
}

.loadpage .loadpage-container .btn-main:hover {
  color: #000;
  background-color: #fbeee4;
}

a.anchor {
  position: relative;
  visibility: hidden;
  top: -4rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content .bg-img-1 img, .content .bg-img-2 img, .content .bg-img-3 img {
  height: 100%;
  width: 100%;
}

.content .content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #000;
  height: 25.375rem;
  width: auto;
  padding: 1rem 2rem;
  color: #fbeee4;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.content .content-body .title {
  height: 2rem;
  letter-spacing: 0.75rem;
  border-bottom: 1px #fbeee4 solid;
}

@media only screen and (max-device-width: 374px) {
  nav .topnav a {
    font-size: 0.7rem;
  }
  nav .socials img {
    padding-right: 1rem;
  }
  nav .socials img.twitter_resize {
    padding-left: 0.8rem;
    height: 1.2rem;
    width: 1.2rem;
  }
  nav .socials img.linkedin_resize {
    height: 1.2rem;
    width: 1.2rem;
  }
  nav .socials img.tumblr_resize {
    height: 1.2rem;
    width: 1.2rem;
  }
  nav .socials img.github_resize {
    height: 1.2rem;
    width: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */