#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 450px; /* Place the button 450px from the bottom of the page */
  left: 25px; /* Place the button 450px from the left */
  z-index: 99; /* Make sure it does not overlap */  
  cursor: pointer; /* Add a mouse pointer on hover */
  border: none; 
  outline: none;
  font-size: 3.5em;
  color: #000000; 
  background-color: transparent;
  opacity: 0.6;
  transition: 0.75s;
  }
  
  #myBtn:hover {
    opacity: 1.0; /* Add a dark-grey background on hover */
  }


