html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 10;
}
  
nav {
    margin: 0;
    padding: 20px 0;
}
  
nav li {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
    display: inline-block;
    width: 120px;
}

main {
    text-align: center;
    position: relative;
    top: 90px;
    z-index: 5;
}

/* footer {
    background-color: #333;
    padding: 30px 0;
    text-transform: uppercase;
}

footer .container {
    margin: 40px 20px;
    text-align: left;
}
  
footer .container p {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    color: #fff
} */

.container {
    max-width: 940px;
    margin: 125px auto;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 32px;
    color: #333333;
    opacity: 0.9;
}

nav a:link {
    color: #fff;
    text-decoration: none;
}

nav a:visited{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
    text-decoration: none;
}

nav a:active{
    color: #fff;
    text-decoration: none;
}

.container h3 {
    font-size: 24px;
    margin: auto, auto;
    white-space: nowrap;
}

.container h4 {
    font-size: 20px;
    margin: auto, auto;
    white-space: nowrap;
}

.container h5 {
    font-size: 18px;
    margin: auto, auto;
    white-space: nowrap;
}

.container h6 {
    font-size: 18px;
    margin: auto, auto;
    white-space: nowrap;
}
.jumbotron {
    height: 712px;
    background-image: url(./docs/Cover.jpg);
    background-size: contain;
    overflow: scroll;
    background-repeat: no-repeat;
}

.btn-main {
    background-color: #333333;
    opacity: 0.8;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-main:hover {
    background-color: #fff;
    color: #333;
}

img.twitter_resize {
    max-width: 36%;
    max-height: 36%;
    position: absolute;
    right: 40px;
    top: 30px;
}

img.linkedin_resize {
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 100px;
    top: 30px;
}

img.tumblr_resize {
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 165px;
    top: 30px;
}

img.github_resize{
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 225px;
    top: 30px;  
}

.flexmaster {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: 2px;
}

.flexmaster .box1 {
    order: 1;
    flex: 0 0 50%;
    height: 600px;
    background-image: url(./docs/gif1.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.flexmaster .box2 {
    order: 2;
    flex: 0 0 50%;
    height: 600px;
    background-image: url(./docs/gif2.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.flexmaster .box3 {
    order: 3;
    flex: 0 0 50%;
    height: 600px;
    background-image: url(./docs/gif4.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.flexmaster .box4 {
    order: 4;
    flex: 0 0 50%;
    height: 600px;
    background-image: url(./docs/gif3.gif);
    background-size: cover;
    background-repeat: no-repeat;
}