html, body {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 10;
}
  
nav {
    margin: 0;
    padding: 20px 0;
}

nav ul {
    padding-left: 20px;
}
  
nav li {
    text-align: center;
    color: #fbeee4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 24px;
    display: inline-block;
    width: 120px;
    margin: auto 0;
}

main {
    text-align: center;
    position: relative;
    top: 90px;
    z-index: 5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


.kaomoji1 {
    color: #f4d0fd;
    text-shadow: 0px 0px 15px #ed73e1, 0px 0px 15px #ed73e1;
    border-radius: 50%;
    transition: 1.5s;
}

.kaomoji1:hover {
    text-shadow: 0px 0px 50px #ed73e1, 0px 0px 45px #ed73e1, 0px 0px 35px #ed73e1, 0px 0px 25px #ed73e1, 0px 0px 15px #ed73e1;
}

.kaomoji2 {
    color: #c7fcfd;
    text-shadow: 0px 0px 15px #35d0f0, 0px 0px 15px #35d0f0;
    transition: 1.5s;
}

.kaomoji2:hover {
    text-shadow: 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0, 0px 0px 600px #35d0f0;
}

nav a:link, a:visited, a:hover, a:active {
    color: #fbeee4;
    text-decoration: none;
}

.container h1 {
    width: 950px;
    margin: 0px auto 25px;
    padding: 40px 0px;
    letter-spacing: 40px;
    line-height: 50%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: #fbeee4;
    opacity: 0.95;
    background-color: #000000;
    /* border: 1px solid #fbeee4; */
}

.container h3 {
    padding: 0px 0px 25px 0px;
    margin: 0px 0px 50px 0px;
    line-height: 200%;
    margin: auto, auto;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #fbeee4;
    opacity: 0.95;
}

.jumbotron {
    padding: 350px 0px 0px 0px;
    /* background-image: url(./imgs/IMG9.jpg); */
    background-color: #000000;
    height: 55vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: initial;
}

.container {
    height: 265px;
    max-width: 940px;
    padding: 0px 0px 250px 0px; 
    margin: auto auto;
    text-align: center;
}

.btn-main {
    background-color: #000000;
    margin: 0px 10px;
    opacity: 1;
    color: #fbeee4;
    border: 1px solid #fbeee4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.95;
}

.btn-main:hover {
    /* background-color: #fbeee4; */
    color: #000000;
}

img.twitter_resize {
    max-width: 36%;
    max-height: 36%;
    position: absolute;
    right: 40px;
    top: 30px;
}

img.linkedin_resize {
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 100px;
    top: 30px;
}

img.tumblr_resize {
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 165px;
    top: 30px;
}

img.github_resize {
    max-width: 40%;
    max-height: 35%;
    position: absolute;
    right: 225px;
    top: 30px;  
}

a.anchor {
    display: block; 
    position: relative; 
    top: -100px; 
    visibility: hidden;
}

.bg-img1, .bg-img2, .bg-img3, .bg-img4 { 
    min-height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bg-img1 { 
    background-image: url("../imgs/IMG1.jpg");
}

.bg-img2 { 
    background-image: url("../imgs/IMG2.jpg");
}

.bg-img3 { 
    background-image: url("../imgs/IMG3.jpg");
}

.parallax {
    min-width: 100%;
    margin: 90px auto 0;
}

.parallaxbox {
    display: inline-block;
    text-align: center;
    min-height: 850px;
    background-color: #000000;
    width: 50%;
    opacity: 0.5;
    transition: 0.75s;
}

.parallaxbox:hover {
    opacity: 0.90;
}

.parallaxtitle {
    display: inline-block;
    color: #fbeee4;
    border-bottom: 1px #fbeee4 solid;
    margin: 50px 0px;
    font-family: 'Work Sans';
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 10px;
}

.parallaxtext {
    display: inline-block;
    width: 75%;
    color: #fbeee4;
    margin: 20px 0px;
    font-family: 'Work Sans';
    font-weight: 200;
    font-size: 16px;
}

.imgcropper {
    height: 210px;
    width: 210px;
    display: inline;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    opacity: 1;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fbeee4;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

input[type=submit] {
    background-color: #000;
    color: #fbeee4;
    padding: 12px 20px;
    border: 1px solid #fbeee4;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #fbeee4;
    color: #000;
}

.formcontainer {
    text-align: center;
    height: 830px;
    background-color: #000;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

.row {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}
.col-25 {
    color: #fbeee4;
    float: left;
    width: 25%;
    font-size: 24px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 16px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #000000;
    position: absolute;
    max-height: 80px;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
}

footer .feet {
    display: inline-block;
    color: #fbeee4;
}
  
footer .feet span {
    color: #fbeee4;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

footer .feet .rightalign {
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.openbtn .fa-angle-double-up.top {
    position: absolute;
    right: 20px;
}

.openbtn .fa-angle-double-up.bottom {
    position: absolute;
    left: 20px;
}

@media only screen and (max-device-width: 1024px) {
    .jumbotron .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      background-size: cover;
    }

    .container h1 {
        font-size: 48px;
    }
    
    .parallaxbox {
        opacity: 0.9
    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
}